<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom border-primary container">
  <a class="navbar-brand" href="{{site.url}}">
    {% if options.logo %}
      <img src="{{TimberImage(options.logo).src}}" class="brand-logo" alt="{{site.title}}">

      {% if options.enable_logo_animation and options.animated_text_after_logo %}
        <span class="animated-text-after-logo" data-animation-trigger="{{options.animation_trigger}}">{{options.animated_text_after_logo}}</span>
      {% endif %}
    {% else %}
      {{site.title}}
    {% endif %}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse position-relative" id="main-navigation">
    {% include "menu.twig" with {'items': menu.get_items} %}

    {% include "social-media.twig" %}
  </div>
</nav>