<div class="container text-center">
  {% if options.footer_text %}
    <div class="border-top border-primary row pt-3 pb-2">
      <div class="col">
        <p {% include "partial/font-styles.twig" with {font_styles : options.footer_font_styles, display_inline : true} %}>{{options.footer_text}}</p>
      </div>
    </div>
  {% endif %}

  {% if options.footer_segments %}
    <div class="row pb-2">
      <div class="col" {% include "partial/font-styles.twig" with {font_styles : options.footer_font_styles, display_inline : true} %}>
        {% for segment_key, segment in options.footer_segments %}
          {% if segment_key == 'email_address' %}
            <a class="d-block d-footer-inline mb-1 mb-footer-0" target="_blank" href="mailto:{{segment}}">{{segment}}</a>
          {% elseif segment_key == 'phone_number' %}
            <a class="d-block d-footer-inline mb-1 mb-footer-0" target="_blank" href="tel:{{segment|preg_replace('/[^0-9]/', '')}}">{{segment}}</a>
          {% elseif segment_key == 'client_form' %}
            <a class="d-block d-footer-inline mb-1 mb-footer-0" href="{{segment}}">Client form</a>
          {% elseif segment_key == 'copyright_owner' %}
            <span class="d-block d-footer-inline mb-1 mb-footer-0">&copy; {{"now"|date('Y')}} {{segment}}</span>
          {% else %}
            <span class="d-block d-footer-inline mb-1 mb-footer-0">{{segment}}</span>
          {% endif %}

          {% if not loop.last %}
            <span class="d-none d-footer-inline mb-1 mb-footer-0">|</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="row mt-2">
    <div class="col">
      {% if options.social_media_networks %}
        <ul class="list-inline">
          {% for network_name, network_link in options.social_media_networks if network_link %}
            <li class="list-inline-item">
              <a class="social-media {{network_name}}" target="_blank" href="{{network_link}}"></a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>