{% extends "base.twig" %}

{% block content %}
	<div id="front">
    <div id="hero" style="background-image: url({{TimberImage(post.hero_image).src('large')}}">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 {% include "partial/font-styles.twig" with {font_styles : post.meta('hero_title')} %}>{{post.hero_title_text}}</h1>

            <a class="btn btn-lg btn-outline-primary" href="{{post.hero_button_1.url}}"{% if post.hero_button_1.target %} target="{{post.hero_button_1.target}}"{% endif %}>{{post.hero_button_1.title}}</a>

            <a class="btn btn-lg btn-primary" href="{{post.hero_button_2.url}}"{% if post.hero_button_2.target %} target="{{post.hero_button_2.target}}"{% endif %}>{{post.hero_button_2.title}}</a>
          </div>
        </div>
      </div>
    </div>

    <div id="about">
      <div class="container">
        <div class="row mt-3">
          <div class="col-12">
            <h2 class="mt-3 mb-4" {% include "partial/font-styles.twig" with {font_styles : post.meta('about_title')} %}>{{post.about_title_text}}</h2>

            <div class="w-100 w-sm-75 mx-auto" {% include "partial/font-styles.twig" with {font_styles : post.meta('about_content')} %}>
              {{post.about_content_text|wpautop}}
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col my-2">
            <a {% include "partial/font-styles.twig" with {font_styles : post.meta('about_link')} %} href="{{post.about_link_link.url}}"{% if post.about_link_link.target %} target="{{post.about_link_link.target}}"{% endif %}>{{post.about_link_link.title}}</a></p>
          </div>
        </div>
      </div>
    </div>

    <div id="portfolio">
      <div class="container">
        <div class="border-top border-primary row mt-2 pt-3 mb-3">
          <div class="col-12">
            <h2 class="mt-3 mb-4" {% include "partial/font-styles.twig" with {font_styles : post.meta('portfolio_title')} %}>{{post.portfolio_title_text}}</h2>
        
            <div class="w-100 w-sm-75 mx-auto" {% include "partial/font-styles.twig" with {font_styles : post.meta('portfolio_content')} %}>{{post.portfolio_content_text|wpautop}}
            </div>
          </div>
        </div>

        {% if portfolio %}
          <div class="row">
            {% for index, piece in portfolio %}
              {% include 'partial/portfolio-piece-link.twig' %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="row mt-3">
          <div class="col my-2">
            <a {% include "partial/font-styles.twig" with {font_styles : post.meta('portfolio_link')} %} href="{{post.portfolio_link_link.url}}"{% if post.portfolio_link_link.target %} target="{{post.portfolio_link_link.target}}"{% endif %}>{{post.portfolio_link_link.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}