{% for popup in popups %}
  <div class="modal fade" id="{{popup.path|trim('/')|replace('/', '-')}}" tabindex="-1" role="dialog" aria-labelledby="{{popup.path|trim('/')|replace('/', '-')}}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-3">
          <button type="button" class="exit position-relative float-right" data-dismiss="modal" aria-label="Close"></button>

          <h3 class="mt-1 mb-3" id="{{popup.path|trim('/')|replace('/', '-')}}-label" {% include "partial/font-styles.twig" with {font_styles : popup.meta('title_font_styles')} %}>{{popup.title}}</h3>
          
          <div class="mb-3" {% include "partial/font-styles.twig" with {font_styles : popup.meta('content')} %}>
            {{popup.content_text}}
          </div>

          <div class="mb-n2" {% include "partial/font-styles.twig" with {font_styles : popup.meta('shortcode')} %}>
            {{ function('do_shortcode', popup.shortcode_text) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}